.dart_tool/
build/
.flutter-plugins
.flutter-plugins-dependencies
android/local.properties
android/app/src/main/java/io/flutter/plugins/
pubspec.lock

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart
